body {
  font-family: 'Montserrat', sans-serif;
  color: #022924;
  margin: 0px;
  padding: 0px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Montserrat', sans-serif;
  padding: 0px;
  margin: 0px;
}
h1 {
  font-size: 64px;
  line-height: 125%;
}
h2 {
  font-size: 48px;
  line-height: 120%;
}
h3 {
  font-size: 36px;
  line-height: 120%;
}
h4 {
  font-size: 20px;
  line-height: 120%;
}
h5 {
  font-size: 18px;
  line-height: 120%;
}
h6 {
  font-size: 16px;
  line-height: 120%;
}

/* Media Queries for Smaller Screens */
@media (max-width: 768px) {
  h1 {
    font-size: 48px;
    line-height: 120%;
  }

  h2 {
    font-size: 36px;
  }

  h3 {
    font-size: 24px;
  }

  h4 {
    font-size: 18px; /* Adjust as needed for h4-h6 on smaller screens */
  }

  /* Add similar adjustments for h5 and h6 if needed */
}

p,
a,
button,
div,
input,
select,
textarea,
label {
  color: #022924;
  font-size: 16px;
  line-height: 120%;
  padding: 0px;
  margin: 0px;
}
small {
  font-size: 14px;
  line-height: 120%;
  padding: 0px;
  margin: 0px;
}
.router-link-active {
  color: green;
}
// global animations
.swiper-pagination-bullet-active {
  background-color: green;
}
.drop-card {
  width: 100%;
  height: 100%;
  position: relative;
  background: #00635d;
  background-position: center center;
}
.drop-card:hover {
  // animation: zoom 2s ease-in-out;
  background: #013a36;
}
// @keyframes zoom {
//   0% {
//     background-size: 200% 100%;
//   } /* Starting state (original size) */
//   50% {
//     background-size: 240% 120%;
//   } /* Zoom in state (midpoint) */
//   100% {
//     background-size: 200% 100%;
//   }
// }
